<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salary Calculator</title>
    <link rel="stylesheet" href="custom.css">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="model.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="salCal" ng-controller="salCont">
    <fieldset ng-model="field" id="field">
        <legend>Salary Calculation</legend>
        <label for="">Salary: </label><input type="number" ng-model="sal" placeholder="Enter Salary">
        <br>
        <label for="">HRA: </label><label for="" id="red">{{hra}}</label>
        <br>
        <label for="">DA: </label><label for="" id="red">{{da}}</label>
        <br>
        <label for="">TA: </label><label for="" id="red" >{{ta}}</label>
        <br>
        <label for="">PF: </label><label for="" id="red">{{pf}}</label>
        <br>
        <label for="">TAX: </label><label for="" id="red">{{tax}}</label>
        <br>
        <label for="">Net Sal: </label><label for="" id="red">{{ns}}</label>
        <br>
        <label for="">GRADE: </label><label for="" id="red">{{grade}}</label>
        <br>
    </fieldset>
    <br>
    <button ng-click="doCal()">Calculate</button>
    <button ng-click="doClear()">Clear</button>
    <button ng-click="doAddRec()">Add</button> {{count}}
    <fieldset>
        <legend>Data</legend>
        <table border="1">
            <thead>
                <th>Salary</th>
                <th>HRA</th>
                <th>DA</th>
                <th>TA</th>
                <th>PF</th>
                <th>TAX</th>
                <th>NET</th>
                <th>GRADE</th>
            </thead>
            <tbody id="clr">
                <tr ng-repeat="i in salArr">
                    <td>{{i.sal}}</td>
                    <td>{{i.hra}}</td>
                    <td>{{i.da}}</td>
                    <td>{{i.ta}}</td>
                    <td>{{i.pf}}</td>
                    <td>{{i.tax}}</td>
                    <td>{{i.ns}}</td>
                    <td>{{i.grade}}</td>
                </tr>
            </tbody>
        </table>

    </fieldset>
</body>

</html>
