<div style="padding-left:500px">
        <form name="regForm" class="form-signin">
            <table><tr style="display:inline"><th><h2 class="form-signin-heading">Please Sign Up</h2></th></tr></table>
		<input type="text" class="form-control" name="name" placeholder="Enter Your Name" ng-model="name" required autofocus>
        <br>
        <br>
        <input type="text" class="form-control" name="usernameS" placeholder="Username" ng-model="userS" required>
        <br>
        <br>
        <input type="password" class="form-control" name="passwordS" placeholder="Password" ng-model="passS" required> 
        <br>
        <br>
        <button class="btn btn-warning" type="submit" style="width:209px" ng-click="submitS(regForm);z=s;isDisable=false">Sign Up</button>
        </form>
</div>