.img1 {
    position: relative;
    background-color: #35BFFF;
    cursor: pointer;
}
.img1:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.img2 {
    cursor: pointer;
    background-color: #35BFFF;
    height: 150px;
    width: 150px;
    float: left;
    position: relative;
}

.Ul {
    list-style-type: none;
}

.but {
   background-color:  #4CAF50; /* Green */
    border: none;
    width: 50px;
    height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.but:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.image { 
	width: 100px;
	height: 100px; 
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
} 
.image:hover {
	-moz-transform: scale(4);
	-webkit-transform: scale(4);
	-o-transform: scale(4);
	-ms-transform: scale(4);
	transform: scale(4);
}
.prev{
    background-color: grey;
    color:white;
}
.prev:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cartP{
    padding-top: 100px;
    padding-left: 300px;
}
.cartBut{
    background-color:  #4CAF50; /* Green */
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.cartBut:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.Div{
    position: static;
}
.Divd{
     position: static;
    opacity: 0.6;
}
.Div3{
    left:0;
    top: 0px;
     background-color: rgba(0,0,0,0.5);
    position:fixed;
    margin: 0;
    width: 2500px;
    height: 100%;
    z-index: 1;
}
.left-arrow {
    background-color: hsla(290,60%,70%,0.6);
    color: white;
    margin-top: 165px;
    left:230px;
	display: inline-block;
	position: absolute;
    border: 1px solid black;
	padding: 15px;
    width: 650px;
    height: 300px;
    z-index: 1;
}
